/* GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    font-family: "Lexend", sans-serif;
    padding: 0 5%;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

button{
    font-family: "Lexend", sans-serif;
}

div {
    line-height: 25px;
}

h2{
    padding: 32px 0px;
    font-size: 46px;
    line-height: 60px;
}

h3{
    padding: 32px 0px;
    font-size: 25px;
    line-height: 40px;
}

h4{
    padding: 12px 0px 24px 0;
    font-size: 16px;
    line-height: 25px;
}

h5 {
    font-size: 14px;
    line-height: 15px;
}

h6 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

b {
    font-weight: bold;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.header__container {
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    transition: 0.35s;
}

.header__logo:hover {
    transform: scale(1.2);
}

.menu__icon {
    display: none;
}

.menu__list {
    flex-wrap: wrap;
}

.menu__list > li {
    position: relative;
    margin: 0 0 0 20px;
}

.menu__list > a {
    position: relative;
    margin: 0 0 0 20px;
}

.menu__link {
    color: black;
    font-size: 18px;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__sub-link {
    color: black;
}

.menu__sub-link:hover {
    text-decoration: underline;
}

.menu__sub-list {
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #f1f1f1;;
    padding: 15px;
    min-width: 200%;
    text-align: center;
}

.menu__sub-list li {
    margin: 0 0 10px 0;
}

/*----------------*/
body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}


body._touch .menu__list > li.active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/*----------------*/


body._touch .menu__list > li.active .pointer img {
    transform: rotate(-180deg);
}

.pointer img {
    transition: 0.2s;
    height: 8.5px;
}

.menu__list li .pointer img {
    margin-left: 5px;
}

@media (min-width: 992px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
    .menu__sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
    .pointer {
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .pointer img {
        height: 10px;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: black;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }
    .menu__icon.active span{
        transform: scale(0) translate(0, -50%);
    }
    .menu__icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body.active {
        left: 0;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
    }
    .menu__list > li {
        flex-wrap: wrap;
        margin: 0 0 30px 0;
    }
    .menu__list > li:last-child {
        margin-bottom: 0;
    }
    .menu__list > li.active .menu__sub-list {
        display: block;
    }
    .menu__link {
        font-size: 24px;
    }

    .menu__link:hover {
        text-decoration: none;
    }
    .menu__sub-list {
        position: relative;
        flex: 1 1 100%;
        margin: 20px 0 0 0;
        display: none;
        left: 0;
        text-align: left;
    }
    .menu__sub-link {
        font-size: 24px;
    }
    .menu__list > a {
        margin: 0 0 20px 0;
        font-size: 24px;
        display: block;
    }
    .menu__body {
        overflow-x: hidden;
    }

}

.vect-img{
    height: 9px;
}

.log-in{
    padding: 15px 0;
    border: 1px;
}

.reg-log{
    text-decoration: none;
    color: black;

}

.log-in{
    display: inline-block;
    padding: 7px 10px;
    color: black;
    border: solid 2px;
    border-radius: 10px;
    margin: 0 10px 8px 0;
    transition: 0.35s;
}

.log-in:hover{
    transform: scale(1.2);
}

.sign-up{
    display: inline-block;
    padding: 7px 10px;
    color: black;
    border: solid 2px #4CFDC7;
    border-radius: 10px;
    margin: 0px 0px 8px 0px;
    background-color: #4CFDC7;
    transition: 0.35s;
}

.sign-up:hover{
    transform: scale(1.2);
}

#main {
    margin: 0 0 50px 0;
}

#main h1{
    padding-top: 170px;
    font-size: 100px;
    line-height: 100px;
}

.first__page {
}

.main__container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__right {
    display: flex;
    align-items: flex-end;
}

.main__left {
    width: 50%;
}

#main a {
    margin: 3% 2% 1.5% 0;
    font-size: 20px;
    padding: 1.5% 4%;
}


#main span {
    margin-left: 10px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .first__page {
        height: calc(100vh + 536px);
    }
    .main__container {
        display: block;
    }
    .main__left {
        text-align: center;
        width: 100%;
    }
    .main__right {
        display: block;
        text-align: center;
    }

}

@media (max-width: 576px) {

    #main h1 {
        font-size: 50px;
        padding-top: 50px;
    }
    #main h3 {
        font-size: 20px;
    }
}

/*ТАБЛИЦА*/
.crypto__tittle__container {
    display: flex;
    justify-content: center;
}

.crypto__tittle__content button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    background: none;
}

.crypto__table {
    width: 100%;
    border-collapse: separate;
    background-color: #F7F7F7;
    border-radius: 15px;
}

.table__block {
    width: 20%;
}





.crypto__table__variants td {
    padding: 1.25%;
}

.crypto__table__variants td {
    padding: 1.25%;
}

.variant-left {
    text-align: right;
}

.variant-right {
    text-align: left;
}



.crypto__table tr td {
    padding: 1%;
    border-top: 2px solid gray;
    text-align: center;
}

.crypto__table tr td span {
    display: block;
}

.crypto__button__buy {
    padding: 15px 25px;
    color: black;
    border: solid 2px #4CFDC7;
    border-radius: 15%;
    background-color: #4CFDC7;
    transition: 0.35s;
    cursor: pointer;
}

.crypto__button__buy:hover {
    transform: scale(1.2);
}

.str sup {
    color: gray;
}


.value__up {
    color: green;
}

.value__down {
    color: red;
}

.crypto__table__bottom {
    text-align: center;
    text-decoration: none;
}

.all__markets {
    height: 50px;
    width: 125px;
}

.crypto__table__bottom span a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .crypto__table tr td {
        font-size: 20px;
    }
    .crypto__table tr td a button {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .crypto__list {
        margin-top: 50px;
    }
    /*.table__scroll {
        width: 30em;
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
    }*/
    .crypto__table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .crypto__table tr td {
        padding: 0 5px;
        vertical-align: middle;
        font-size: 16px;
    }
    .crypto__table tr td a button {
        font-size: 16px;
        padding: 5px 15px;
    }
    .crypto__table tr td img {
        padding-top: 5px;
    }
}

.why__BTC {
    margin: 10% 0 0 0;
}

.why__flex__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.why__title {
    text-align: center;
    margin: 5% 0;
}

.why__content {
    text-align: center;
    width: 300px;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .why__content div {
        font-size: 20px;
        line-height: 35px;
    }
}


.TRADE {
    margin: 15% 0 0 0;
}

.TRADE__main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TRADE__left {
    width: 50%;
}

.TRADE__right {
    width: 50%
}

.TRADE h2 {
    width: 90%;
}

.TRADE__left__container {
    display: flex;
    flex-wrap: wrap;
}

.TRADE__left__content {
    margin-bottom: 10%;
    margin-right: 7%;
    font-size: 15px;
    text-align: left;
    width: 300px;
}

@media (max-width: 1200px) {
    .TRADE h2 {
        text-align: center;
        width: 100%;
    }
    .TRADE__main__container {
        display: block;
    }
    .TRADE__right {
        float: none;
        display: block;
        text-align: center;
    }
    .TRADE__left {
        width: 100%;
    }
    .TRADE__left__container {
        justify-content: space-around;
    }
    .TRADE__left__content div {
        font-size: 20px;
        line-height: 35px;
    }
    .TRADE__left__content h4 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .TRADE__right {
        width: 100%;
    }
    .TRADE__right img {
        width: 90%;
        object-fit: cover;
    }
    .TRADE__left__container {
        display: block;
    }
    .TRADE__left__content__title img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    .TRADE__left__content__title h4 {
        display: inline-block;
        padding: 0px;
        vertical-align: middle;
    }
    .TRADE__left__content__title {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.WALLET {
    margin: 15% 0 0 0;
}

.WALLET__full {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.WALLET__left {
    text-align: right;
}

.WALLET__right {
    width: 50%;
}

.WALLET__right__container {
    display: flex;
    flex-wrap: wrap;
}

.WALLET__right__content {
    margin-bottom: 10%;
    margin-right: 7%;
    font-size: 15px;
    text-align: left;
    width: 300px;
}



@media (max-width: 1200px) {
    .WALLET__right {
        width: 100%;
    }
    .WALLET__right__container {
        justify-content: space-around;
    }
    .WALLET__right__content div {
        font-size: 20px;
        line-height: 35px;
    }
    .WALLET__right__content h4 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .WALLET__left {
        width: 100%;
    }
    .WALLET__left img {
        width: 90%;
        object-fit: cover;
    }
    .WALLET__right__container {
        display: block;
    }
    .WALLET__right__content__title {
        text-align: center;
        margin: 10px;
    }
    .WALLET__right__content__title img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    .WALLET__right__content__title h4 {
        display: inline-block;
        padding: 0px;
        vertical-align: middle;
    }
    .WALLET__right__content__text {
    }
}

.vip__program {
    margin: 15% 0 0 0;
    text-align: center;
}

.vip__program__title {
    padding: 0 25%;
}
.vip__program__container {
    margin: 3% 10%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vip__program__content {
    width: 250px;
    font-size: 15px;
}

.vip__program__href {;
    text-align: center;
}

.vip__program__button {
    display: inline-block;
    font-family: Lexend;
    padding: 10px 15px;
    color: black;
    border: solid 2px;
    border-radius: 10%;
    transition: 0.35s;
}

.vip__program__button:hover {
    background-color: #4CFDC7;
    border-color: #4CFDC7;
}

.vip__program__img {
    width: 80%;
    margin: 5%;
}

@media (max-width: 1200px) {
    .vip__program__full p {
        font-size: 20px;
    }
    .vip__program__full h4 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .vip__program__title {
        padding: 0;
    }
    .vip__program__img {
        visibility: hidden;
        margin-bottom: -150px;
    }
}

.easy__steps {
    margin: 1% 0 0 0;
    text-align: center;
}

.easy__steps__title {
    margin: 0 25%;
}

.easy__steps__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.easy__steps__content {
    margin-top: 1%;
    width: 400px;
    font-size: 15px;
}

.easy__steps__under__href {
    margin-top: 50px;
    display: inline-block;
    font-family: Lexend;
    padding: 10px 35px;
    color: black;
    background-color: #4CFDC7;
    border: solid 2px #4CFDC7;
    border-radius: 5%;
    transition: 0.35s;
}

.easy__steps__under__href:hover {
    transform: scale(1.2);
}

.easy__steps__google {
    margin: 40px 0 0 0;
}

.easy__steps__google div {
    display: inline-block;
}

.easy__steps__google span {
    margin-left: 5px;
}

@media (max-width: 1200px) {
    .easy__steps__title {
        margin: 0;
    }
    .easy__steps__content {
        margin-top: 25px;
    }
    .easy__steps__content div {
        font-size: 18px;
    }
}

.trade {
    margin: 300px 50% 100px 40px;
}

.trade__content {
    padding-right: 5%;
}

.trade__container {
    display: flex;
    margin-right: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trade__container__content {
    margin-top: 15px;
}

.trade__href {
    margin-top: 50px;
    display: inline-block;
    font-family: Lexend;
    color: black;
    transition: 0.35s;
}

.trade__href:hover {
    transform: scale(1.2);
}

@media (max-width: 992px) {
    .trade {
        margin-right: 0;
    }
    .trade__container {
        margin-right: 0;
        justify-content: space-around;
    }
    .trade__content h4 {
        font-size: 20px;
    }
    .trade__href {
        font-size: 18px;
    }
}

.last__news {
    margin: 250px 0 100px 0;
}

.last__news__title {
    text-align: center;
}

.last__news__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.last__news__content {
    width: 357px;
}

.last__news__content__underimg h5 {
    display: inline-block;
    margin: 15px 5%;
}

.h5__border {
    padding: 5px 0;
    background-color: #BDFFEB;

}

.last__news__content__text {
    margin: 0 5%;
}

.last__news__under {
    text-align: center;
    margin: 70px 0;
}

.last__news__under__media div {
    display: inline-block;
    margin: 50px 5%;
}

@media (max-width: 1200px) {
    .last__news__container {
        width: 100%;
        display: block;
        text-align: center;
    }
    .last__news__content {
        width: 100%;
        margin-bottom: 15px;
    }
    .last__news__content__text h3 {
        padding-bottom: 5px;
    }
    .last__news__content__text > .trade__href {
        padding-top: 0px;
    }

}

@media (max-width: 576px) {
    .last__news__content > img {
        width: 90%;
    }
    .main-phone {
        width: 65%;
    }
    .main__right {
        margin-top: 15px;
    }
}

.get__started {
    margin: 250px 50% 100px 0;
    padding: 0 50px;
}

@media (max-width: 1200px) {
    .get__started {
        margin: 250px 0 100px 0;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .get__started h2 {
        font-size : 35px;
        padding-bottom: 15px;
    }
}
@media (min-width: 1200px) {
    .upward img {
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .upward.active img {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .upward {
        visibility: hidden;
        opacity: 0;
    }
}

footer {
    margin: 250px 0 100px 0;
}

.footer__container {
    margin: 70px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__content h6 {
    margin: 10px 0 50px 0;
}

.footer__content a {
    font-size: 14px;
    display: block;
    color: black;
    margin: 10px 0 10px 0;
}

.footer__content a:hover {
    text-decoration: underline;
    transition: all 1.5s;
}

@media (max-width: 767px) {
    .footer__content a {
        font-size: 15px;
    }

}

.footer__content img {
    padding-right: 10px;
}

.block {
    margin: 15px 0 0 0;
    display: block;
}

.footer__under__title {
    margin: 100px 0 0 0;
    font-size: 12px;
}

.footer__ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__list {
    margin: 25px 0;
}

.footer__list span{
    font-size: 18px;
}

.footer__sub-content {
    margin: 25px 0;
}

.footer__sub-content a {
    color: black;
}



@media (min-width: 992px) {
    .footer__list .pointer {
        visibility: hidden;
        opacity: 0;
    }
    .footer__sub-content:hover {
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
    .footer__ul {
        display: block;
    }
    .footer__sub-list {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    .footer__title {
        font-size: 20px;
    }
    .footer__sub-content {
        font-style: italic;
        color: #1E1D1D;
    }
    body._touch .footer__ul > li.active .footer__sub-list {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: all;
    }
    body._touch .footer__ul > li.active .pointer img {
        transform: rotate(-180deg);
    }
    .footer__list img {
        margin-left: 5px;
    }
}

.pointer img {
    transition: 0.2s;
    height: 8px;
}

.menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}



.center {
    margin: 25px 0 0 0;
    text-align: center;
}

.element-animation {
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
}

.main__h {
    transition: all 1s;
    transform: translateX(-20%);
}

.main__h.element-animation.element-show {
    opacity: 1;
    transform: translate(0);
}

.main__txt {
    transition: all 1s;
    transform: translateY(-100px);
}

.main__txt.element-animation.element-show {
    transition-delay: 1s;
    opacity: 1;
    transform: translateY(0);
}

.main__left .sign-up {
    transition: all 1s;
    transform: scale(0.5);
}

.main__left .sign-up.element-animation.element-show {
    transition-delay: 2s;
    opacity: 1;
    transform: scale(1);
}

.main__left .log-in {
    transition: all 1s;
    transform: scale(150%);
}

.main__left .log-in.element-animation.element-show {
    transition-delay: 3s;
    opacity: 1;
    transform: scale(1);
}

.main__rating {
    transition: all 1s;
}

.main__rating.element-animation.element-show {
    transition-delay: 4s;
    opacity: 1;
}

.main-phone {
    transition: all 1.5s;
    transform: translateY(150px) scale(0.8);
}

.main-phone.element-animation.element-show {
    transition-delay: 5s;
    opacity: 1;
    transform: translateY(0) scale(1);
}
/*
.WHY__title {
    transition: all 1.5s;
    transform: scale(.8);
}

.WHY__title.element-animation.element-show {
    opacity: 1;
    transform: scale(1);
}

.why__content:nth-of-type(1) {
    transition: all 1.5s;
    transform: translateX(-15%);
}

.why__content:nth-of-type(2) {
    transition: all 1.5s;
    transform: translateY(-15%);
}

.why__content:nth-of-type(3) {
    transition: all 1.5s;
    transform: translateX(15%);
}

.why__content:nth-of-type(1).element-animation.element-show {
    transition-delay: 1.5s;
    opacity: 1;
    transform: translateX(0);
}

.why__content:nth-of-type(2).element-animation.element-show {
    transition-delay: 3s;
    opacity: 1;
    transform: translateY(0);
}

.why__content:nth-of-type(3).element-animation.element-show {
    transition-delay: 4.5s;
    opacity: 1;
    transform: translateX(0);
}

.TRADE__left {
    transition: all 1.5s;
    transform: translateX(-15%);
}

.TRADE__left.element-animation.element-show {
    opacity: 1;
    transform: translateX(0);
}

.TRADE__right {
    transition: all 1.5s;
    transform: translateX(15%);
}

.TRADE__right.element-animation.element-show {
    opacity: 1;
    transform: translateX(0);
}
/*
.WALLET__right {
    transition: all 1.5s;
    transform: scale(50%);
}

.WALLET__right.element-animation.element-show {
    opacity: 1;
    transform: scale(1);
}

.WALLET__left {
    transition: all 1.5s;
    transform: scale(50%);
}

.WALLET__left.element-animation.element-show {
    opacity: 1;
    transform: scale(1);
}
/*
.vip__program__start {
    transition: all 1.5s;
    transform: translateX(150px);
}

.vip__program__start.element-animation.element-show {
    opacity: 1;
    transform: translateX(0);
}

.vip__program__pic {
    transition: all 1.5s;
    transform: scale(.5);
}

.vip__program__pic.element-animation.element-show {
    opacity: 1;
    transform: scale(1);
}*/